<% provide(:title, 'Dashboard') %>
<h1 class="col-md-6">Dashboard</h1>

<div class="col-md-6">
	You are signed in as <b><%= @user.name %></b> (<%= @user.email %>).<br/>
	<b><%= @user.templates.size %></b> saved templates.<br/>
	<b><%= @user.campaigns.size %></b>  created campaigns.<br/>
	<b>0</b> received reports.
</div>
