<% provide(:title, 'View Report') %>
<h1 class="col-md-6">View Report</h1>

<div class="col-md-6">
    <b>Campaign: </b> <%= @report.campaign %><br/>
	<b>Victim: </b> <%= @report.victim %><br/>
	<b>Username: </b> <%= @report.username %><br/>
	<b>Password: </b> <%= @report.password %>
</div>
