<footer class="footer">
  <div class="container">
    <small>
      The Phishing Toolkit Framework
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
