<footer class="footer">
  <div class="container">
    <small>
      The Phishing Toolkit framework
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>

















<!-- <footer class="footer">
  <div class="container footer-div">
    <a class="fa fa-bitbucket fa-align-center fa-3x bitbucket-icon"  href="https://bitbucket.org/RaduPetrut/phishingtoolkit"></a>
  </div>
</footer> -->